<div class="interactive-wrapper">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">Daylight hours in midsummer with normal daylight savings</div>
			<div class='subTitle' id="subTitle">This is the subtitle</div>
			<div class="controls">
				
			</div>
			
			
			</div>

			<div class="row" id="multiChart">
				
				<div id="morning" class="col50">
					<div class="chartMultiTitle"></div>
					<div class='notes' id='chartKey'></div>
					<div class="borderBottom chartSans" id="graphicContainer">	
							<div id="loadingContainer">Loading...</div>
					</div>
				</div>	


	<!-- 			<div id="waking" class="col50">
					<div class="chartMultiTitle"></div>
					<div class='notes' id='chartKey'></div>
					<div class="borderBottom chartSans" id="graphicContainer">	
							<div id="loadingContainer">Loading...</div>
					</div>
				</div>	 -->


				<div id="evening" class="col50">
					<div class="chartMultiTitle"></div>
					<div class='notes' id='chartKey'></div>
					<div class="borderBottom chartSans" id="graphicContainer">	
							<div id="loadingContainer">Loading...</div>
					</div>
				</div>

			</div>		


			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | Source</span>
			</div>	
			
	</div>
</div>