

<!DOCTYPE html>
<html id="js-context" class="js-off is-not-modern id--signed-out" lang="en" data-page-path="/world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests" style="padding:0; margin: 0;">
<head>
<title>Blank atom template</title>
<meta charset="utf-8">
<meta name="description" content="Almost 29,000 Palestinians have been injured over the last 12 months and more than 190 killed. Using UN data we explore who has been affected, how they were injured and what life is like in Gaza today"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="dns-prefetch" href="https://assets.guim.co.uk/"/>
<link rel="dns-prefetch" href="https://i.guim.co.uk"/>
<link rel="dns-prefetch" href="https://api.nextgen.guardianapps.co.uk"/>
<link rel="dns-prefetch" href="https://hits-secure.theguardian.com"/>
<link rel="dns-prefetch" href="//j.ophan.co.uk"/>
<link rel="dns-prefetch" href="//ophan.theguardian.com"/>
<link rel="dns-prefetch" href="//phar.gu-web.net"/>
<link rel="preconnect" href="https://assets.guim.co.uk/"/>
<link rel="preconnect" href="https://i.guim.co.uk"/>
<link rel="preconnect" href="//interactive.guim.co.uk"/>
<link rel="apple-touch-icon" sizes="152x152" href="https://assets.guim.co.uk/images/favicons/fee5e2d638d1c35f6d501fa397e53329/152x152.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="https://assets.guim.co.uk/images/favicons/1fe70b29879674433702d5266abcb0d4/144x144.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="https://assets.guim.co.uk/images/favicons/c58143bd2a5b5426b6256cd90ba6eb47/120x120.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="https://assets.guim.co.uk/images/favicons/68cbd5cf267598abd6a026f229ef6b45/114x114.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="https://assets.guim.co.uk/images/favicons/873381bf11d58e20f551905d51575117/72x72.png"/>
<link rel="apple-touch-icon-precomposed" href="https://assets.guim.co.uk/images/favicons/6a2aa0ea5b4b6183e92d0eac49e2f58b/57x57.png"/>
<link rel="shortcut icon" type="image/png" href="https://assets.guim.co.uk/images/favicons/46bd2faa1ab438684a6d4528a655a8bd/32x32.ico"/>
<link rel="canonical" href="https://www.theguardian.com/world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests"/>
<meta name="apple-mobile-web-app-title" content="Guardian"/>
<meta name="application-name" content="The Guardian"/>
<meta name="msapplication-TileColor" content="#052962"/>
<meta name="theme-color" content="#052962">
<meta name="msapplication-TileImage" content="https://assets.guim.co.uk/images/favicons/023dafadbf5ef53e0865e4baaaa32b3b/windows_tile_144_b.png"/>
<meta name="apple-itunes-app" content="app-id=409128287, app-argument=https://www.theguardian.com/world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests, affiliate-data=ct=newsmartappbanner&pt=304191">
<link rel="publisher" href="https://plus.google.com/113000071431138202574"/>
<meta name="author" content="Oliver Holmes"/>
<meta name="author" content="Josh Holder"/>
<meta name="thumbnail" content="https://i.guim.co.uk/img/media/cd599226572713b5642c74831e73a0d48f1c527d/7_0_5410_3250/master/5410.jpg?width=620&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=139b448bc0330fdf380393183b8ae9f8"/>
<meta name="keywords" content="Gaza,Israel,Palestinian territories,Middle East and North Africa,World news"/>
<meta name="news_keywords" content="Gaza,Israel,Palestinian territories,Middle East and North Africa,World news"/>
<meta property="og:url" content="http://www.theguardian.com/world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests"/>
<meta property="og:image:height" content="721"/>
<meta property="og:description" content="Almost 29,000 Palestinians have been injured over the last 12 months and more than 190 killed. Using UN data we explore who has been affected, how they were injured and what life is like in Gaza today"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image" content="https://i.guim.co.uk/img/media/cd599226572713b5642c74831e73a0d48f1c527d/7_0_5410_3250/master/5410.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&s=1579b38b0e908228cafaadaafc1f718c"/>
<meta property="al:ios:url" content="gnmguardian://world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests?contenttype=Article&source=applinks"/>
<meta property="og:type" content="website"/>
<meta property="al:ios:app_store_id" content="409128287"/>
<meta property="og:title" content="Gaza border protests: 190 killed and 28,000 injured in a year of bloodshed"/>
<meta property="fb:app_id" content="180444840287"/>
<meta property="al:ios:app_name" content="The Guardian"/>
<meta property="og:site_name" content="the Guardian"/>
<meta name="twitter:app:id:iphone" content="409128287"/>
<meta name="twitter:app:name:googleplay" content="The Guardian"/>
<meta name="twitter:title" content="Gaza border protests: 190 killed and 28,000 injured in a year of bloodshed"/>
<meta name="twitter:app:name:ipad" content="The Guardian"/>
<meta name="twitter:image" content="https://i.guim.co.uk/img/media/cd599226572713b5642c74831e73a0d48f1c527d/7_0_5410_3250/master/5410.jpg?width=1200&amp;height=630&amp;quality=85&amp;auto=format&amp;fit=crop&amp;overlay-align=bottom%2Cleft&amp;overlay-width=100p&amp;overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&amp;s=1579b38b0e908228cafaadaafc1f718c"/>
<meta name="twitter:site" content="@guardian"/>
<meta name="twitter:app:url:ipad" content="gnmguardian://world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests?contenttype=Article&amp;source=twitter"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:app:name:iphone" content="The Guardian"/>
<meta name="twitter:app:id:ipad" content="409128287"/>
<meta name="twitter:app:id:googleplay" content="com.guardian"/>
<meta name="twitter:app:url:googleplay" content="guardian://www.theguardian.com/world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests"/>
<meta name="twitter:app:url:iphone" content="gnmguardian://world/ng-interactive/2019/mar/29/a-year-of-bloodshed-at-gaza-border-protests?contenttype=Article&amp;source=twitter"/>
<meta name="twitter:dnt" content="on">
<meta property="fb:pages" content="10513336322"/>
<meta property="fb:pages" content="456740217686384"/>
<meta property="fb:pages" content="516977308337360"/>

<style class="webfont" data-cache-name="GuardianHeadline" data-cache-file-woff2="https://assets.guim.co.uk/fonts/3b8e46f89a02c7744b0ca01043f95f2c/GuardianHeadline.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/7a35b9af8642fa56021301306f6f8c10/GuardianHeadlineHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/979fcd5bdabcdd2168a2182ef9de2047/GuardianHeadline.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/0f0c6f99ad1509678834f4c945d3ee7c/GuardianHeadlineHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/4db2284b8664d218dd904c40ca5edb56/GuardianHeadline.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/25febe0b2605f6dfda562b193e67baa8/GuardianHeadlineHinted.ttf.json"></style>
<style class="webfont" data-cache-name="GuardianTextEgyptianWeb" data-cache-file-woff2="https://assets.guim.co.uk/fonts/aa5262b476f8d7d7173583a408a2e0d4/GuardianTextEgyptianWeb.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/6c688d9d9fa9c003df046febff29611c/GuardianTextEgyptianWebHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/04a83853bf92a9a8054146aa190ed00c/GuardianTextEgyptianWeb.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/c4fcc1aafe7aecbfab2eb6fd37e04260/GuardianTextEgyptianWebHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/5e089132bb7b66d7ddb8de3a0ad5ca23/GuardianTextEgyptianWeb.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/852c5ff1e3c8a8a10f40ebb0371f770e/GuardianTextEgyptianWebHinted.ttf.json"></style>
<style class="webfont" data-cache-name="GuardianTextSansWeb" data-cache-file-woff2="https://assets.guim.co.uk/fonts/13595db2b6da482cceb5b6199e99363c/GuardianTextSansWeb.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/c19491c5e163b6a5923451e68adebbcc/GuardianTextSansWebHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/0cc3d8e149a9512761475130562bf7c2/GuardianTextSansWeb.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/3b286802646db4e838fcbc38998cf018/GuardianTextSansWebHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/a64bdb06fc6c20b121d83a2e26f4326d/GuardianTextSansWeb.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/ea010fa7780fcdb4697315eb6a5f032d/GuardianTextSansWebHinted.ttf.json"></style>
<style class="webfont" data-cache-name="GuardianHeadline" data-cache-file-woff2="https://assets.guim.co.uk/fonts/3b8e46f89a02c7744b0ca01043f95f2c/GuardianHeadline.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/7a35b9af8642fa56021301306f6f8c10/GuardianHeadlineHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/979fcd5bdabcdd2168a2182ef9de2047/GuardianHeadline.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/0f0c6f99ad1509678834f4c945d3ee7c/GuardianHeadlineHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/4db2284b8664d218dd904c40ca5edb56/GuardianHeadline.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/25febe0b2605f6dfda562b193e67baa8/GuardianHeadlineHinted.ttf.json"></style>
<style class="webfont" data-cache-name="GuardianTextEgyptianWeb" data-cache-file-woff2="https://assets.guim.co.uk/fonts/aa5262b476f8d7d7173583a408a2e0d4/GuardianTextEgyptianWeb.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/6c688d9d9fa9c003df046febff29611c/GuardianTextEgyptianWebHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/04a83853bf92a9a8054146aa190ed00c/GuardianTextEgyptianWeb.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/c4fcc1aafe7aecbfab2eb6fd37e04260/GuardianTextEgyptianWebHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/5e089132bb7b66d7ddb8de3a0ad5ca23/GuardianTextEgyptianWeb.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/852c5ff1e3c8a8a10f40ebb0371f770e/GuardianTextEgyptianWebHinted.ttf.json"></style>
<style class="webfont" data-cache-name="GuardianTextSansWeb" data-cache-file-woff2="https://assets.guim.co.uk/fonts/13595db2b6da482cceb5b6199e99363c/GuardianTextSansWeb.woff2.json" data-cache-file-hinted-woff2="https://assets.guim.co.uk/fonts/c19491c5e163b6a5923451e68adebbcc/GuardianTextSansWebHinted.woff2.json" data-cache-file-woff="https://assets.guim.co.uk/fonts/0cc3d8e149a9512761475130562bf7c2/GuardianTextSansWeb.woff.json" data-cache-file-hinted-woff="https://assets.guim.co.uk/fonts/3b286802646db4e838fcbc38998cf018/GuardianTextSansWebHinted.woff.json" data-cache-file-ttf="https://assets.guim.co.uk/fonts/a64bdb06fc6c20b121d83a2e26f4326d/GuardianTextSansWeb.ttf.json" data-cache-file-hinted-ttf="https://assets.guim.co.uk/fonts/ea010fa7780fcdb4697315eb6a5f032d/GuardianTextSansWebHinted.ttf.json"></style>
<script>window.console=window.console||undefined;</script>

<style>
figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
</style>
</head>
<body style="padding:0; margin: 0;">
<figure class="element element-atom">
<figure class="interactive interactive-atom">
<link rel="stylesheet" type="text/css" href="main.css" />
    <%= html %>
    <script>
        <%= js %>
    </script>
</figure>
</figure>
</body>
</html>
