<div class="interactive-wrapper" id="savingsAbolish">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">Daylight hours in midsummer with daylight savings abolished</div>
			<div class='subTitle' id="subTitle">This shows daylight hours based on estimated sun position, and does not take into account cloud cover</div>
			<div class="controls">
				
			</div>
			
			
			</div>

			<div class="row" >
				
				<div id="morningAbolish" class="col50">
					<div class="chartMultiTitle"></div>
					<div class='notes' id='chartKey'></div>
					<div class="borderBottom chartSans graphicContainer" id="graphicContainer_morningAbolish">	
							<div id="loadingContainer">Loading...</div>
					</div>
				</div>	

				<div id="eveningAbolish" class="col50">
					<div class="chartMultiTitle"></div>
					<div class='notes' id='chartKey'></div>
					<div class="borderBottom chartSans graphicContainer" id="graphicContainer_eveningAbolish">	
							<div id="loadingContainer">Loading...</div>
					</div>
				</div>

			</div>		


			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"></span>
			</div>	
			
	</div>
</div>