<div class="gv-chart-heading">Percent of population vaccinated, selected countries</div>
<div class="gv-key">
    <div class="gv-key">
        <span class="gv-blob"></span><span class="gv-key-label">-</span>
        <span class="gv-blob"></span><span class="gv-key-label">-</span>
        <span class="gv-blob"></span><span class="gv-key-label">-</span>
        <span class="gv-blob"></span><span class="gv-key-label">-</span>
        <span class="gv-blob"></span><span class="gv-key-label">-</span>
    </div>
</div>
<div class="gv-chart"></div>
<div class="gv-source">Source: Our World in Data</div>