<div class="interactive-wrapper">
    <div class="carousel-wrapper swiper-container">
        <div class="image-wrapper swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://media.guim.co.uk/0c5bb045b0714962da64d2ff6a74a21d995d3e8a/0_0_5120_3074/1000.jpg"
                    alt="">
                <p>Photograph: This is where the caption will sit for this image</p>
            </div>
            <div class="swiper-slide">
                <img src="https://media.guim.co.uk/14a679491a50d42d2eba4fc5790f031e995726f9/837_1076_4101_2460/1000.jpg"
                    alt="">
                <p>Photograph: This is where the caption will sit for this image</p>
            </div>
            <div class="swiper-slide">
                <img src="https://media.guim.co.uk/0c5bb045b0714962da64d2ff6a74a21d995d3e8a/0_0_5120_3074/1000.jpg"
                    alt="">
                <p>Photograph: This is where the caption will sit for this image</p>
            </div>
            <div class="swiper-slide">
                <img src="https://media.guim.co.uk/14a679491a50d42d2eba4fc5790f031e995726f9/837_1076_4101_2460/1000.jpg"
                    alt="">
                <p>Photograph: This is where the caption will sit for this image</p>
            </div>
            <div class="swiper-slide">
                <img src="https://media.guim.co.uk/0c5bb045b0714962da64d2ff6a74a21d995d3e8a/0_0_5120_3074/1000.jpg"
                    alt="">
                <p>Photograph: This is where the caption will sit for this image</p>
            </div>
        </div>
        <!-- footer -->
        <div class="carousel-footer">
            <div class="carousel-footer__arrows">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
    </div>
</div>