<div class="interactive-wrapper">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">This is the title</div>
			<div class='subTitle' id="subTitle">This is the subtitle</div>
			<div class='notes' id='chartKey'></div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
					<div id="loadingContainer">Loading...</div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote">Notes etc. </span> Guardian graphic <span id="sourceText"> | Source</span>
			</div>	
			
	</div>
</div>