@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;

    
}

.interactive-nhs-wrapper
{
	background: white;
	max-width: 860px;
	.maps{
		display: flex;

		flex-direction: row;

		@include mq($from: 100px, $until: 620px) {

			flex-direction: column;

			align-items: center;
		}
	}

	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	
	.area{
		fill:#f6f6f6;

		@include mq(mobile){stroke: #fafafa;}
		@include mq(tablet){stroke: #ffffff;}
	}

	.selected{
		stroke:#ffffff;
		stroke-opacity:1;
		fill:#eaeaea;
		fill-opacity:1;
	}

	.bubble{
		stroke:#c70000;
		stroke-opacity:1;
		fill:#E9C6BC;
		fill-opacity:0.2;
	}

	.country-label{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	font-weight: 900;

	&.country-label--white {
		stroke: white;
		stroke-width: 3;
		stroke-opacity: 0.6;
		fill: none;
	}
	}
	.country-cases{
		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
		font-size: 14px;

		&.country-cases--white {
			stroke: white;
			stroke-width: 3;
			stroke-opacity: 0.6;
			fill: none;
		}
	}

	.headline{

		margin-top: 2px;

		margin:0;

		@include fs-header(3);

		@include mq($from: desktop) {
			@include fs-header(5);
		}
	}
	.standfirst{	
		font-size: 16px;
		line-height: 24px;
		font-family: "Guardian Text Egyptian Web",Georgia,serif;
		margin-bottom: 12px;
		font-weight: 300;
	}
	.source{
		padding: 6px 0 6px 0;
		margin: 0;
		font-family: 'Guardian Text Sans Web', Arial, sans-serif;
		font-size: 12px;
		line-height: 15px;
		color:#767676;
		display: inline-block;
		width: 100%;
		//border-bottom: 1px solid #dcdcdc;
	}

	.islands-rectangle{
		fill:none;
		stroke:#dcdcdc;
		stroke-width:1.5;
	}




}

.gv-timestamp {
	@include fs-textSans(2)
}

.gv-dropdown-menu
	{
		margin: 12px 0 12px;
		select {
			height: 40px;
			border-radius: 40px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 8px;
			padding-left: 12px;

			font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
			font-size: 14px;
			font-weight: bold;
			width: 220px;
			padding-right: 40px;
			color: white;
			background-color: $neutral-7;

		}

		svg{
			position: absolute;
			margin: 16px 0 0 -37px;
		}
	}


.tooltip{
	pointer-events: none;
	min-width:20%;
 	padding:12px;
 	background: rgba(255, 255, 255, 0.95);
 	border: 1px solid #333;
 	
 	color: #333333;

 	opacity: 0;

 	display: flex;

 	//flex-direction: column;

 	position: absolute;

 	@include mq($from: 100px, $until: 500px)
 	{	
 		width: calc(100% - 1.9em);

 	}
 	@include mq($from: 600px)
 	{
 		max-width: 150px;

 	}


 	&.over{
 		opacity: 1;
 	}


 	.tooltip-trust{
 		font-size: 16px;
 		font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
 		font-weight: bold;
 		color: #000;
 		font-weight: 800;
 		padding-bottom: 8px;
 		margin-bottom:5px;
 		line-height: 20px;
 		display: flex;
 		width: 100%;
 	}

 	.tooltip-result{

 		font-size: 14px;
 		line-height: 16px;
 		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

 	}

 }


